.ant-card-body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.ant-table-thead > tr > th {
  color: #65676b !important;
  font-size: 13px;
  font-weight: 600;
}

.ant-modal-title {
  background-color: #335c9a;
  padding: 10px 30px;
  color: white !important;
}

.ant-modal-close {
  color: white !important;
}
